{% for flashType, flashMessages in app.flashes %}
    {% for flashMessage in flashMessages %}
        <div class="container my-3">
            <div class="row">
                <div class="alert alert-{{ flashType }} col-md-12">
                    <strong>{{ flashMessage }}</strong>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}